<h2 mat-dialog-title>
  <table class="header">
    <tr class="row1">
      <b (click)="console(data.data.Flightcode)">{{data.data.Flightcode}}  Registration</b>
    </tr>
    <tr class="row2">
      <b>{{data.data.DateTime | date:"dd/MM/yy" }} {{data.data.DateTime | date:"hh:mm" }}</b>
    </tr>
</table>
<mat-dialog-actions align="end">
    <button   mat-dialog-close 
    type="button" 
    class="close" 
    [mat-dialog-close]="control.value" 
    ></button>
</mat-dialog-actions>
</h2>
<mat-dialog-content class="mat-typography">
  <form class="form">
    <div class="centre-frame">
    <label >Registration</label>
    <input type="text"
           class="form-control"
           placeholder="Search for a codes"
           [formControl]="control"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let code of filteredCode | async" [value]="code">
        {{code}}
      </mat-option>
    </mat-autocomplete>
  </div>
  </form>
</mat-dialog-content>
<footer>
  <mat-dialog-actions align="center">
    <button mat-button  mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="control.value" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</footer>


