<h2 mat-dialog-title>
  <table class="header">
    <tr class="row1">
      <b>kokokokokok</b>
    </tr>
    <tr class="row2">
      <b>hhhhh</b>
    </tr>
</table>
<button type="button" class="close" (click)="back()"></button>
</h2>
<mat-dialog-content class="mat-typography">
  <form ngSubmit="formRef" #formRef="ngForm">
      <div class="centre-frame">
        <label >Registration</label>
        <input type="text" class="form-control" placeholder="Code" aria-label="Registration"  [(ngModel)]="searchText"
        (input)="Search()" #code="ngModel" name="code"/>
        <ng-container *ngIf="code.touched">
          <ul *ngFor="let reg of regs">
            <li (click)="hideList()">{{reg.code}}</li>
          </ul>
      </ng-container>
      </div>
  </form>
</mat-dialog-content>
<footer>
  <mat-dialog-actions align="center">
    <button mat-button  mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</footer>


