
<div class="row-container">
    <div class="row-cell">
        <p>{{row.Flightcode}}</p>
    </div>
    <div class="row-cell">
        <p>{{row.DateTime | date:"dd/MM/yy" }}</p>
    </div>
    <div class="row-cell">
        <p>{{row.DateTime | date:"hh:mm" }}</p>
    </div>
    <div class="row-cell">
        <p>{{row.OriginDestination}}</p>
    </div>
    <div class="row-cell">
        <a  [routerLink]="['/grid', row.id]" >
        <p>{{row.Registration ? row.Registration : '..........'}}</p>
        </a>
    </div>
    <!-- [routerLink]="['/grid', row.id]"  [data]="row"-->
</div>

